<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>foxverse</title>
		<link rel="stylesheet" type="text/css" href="/css/n3ds.css">{#
		<script src="/js/n3ds/zepto.min.js"></script>
		<script src="/js/n3ds/deferred.min.js"></script>
		<script src="/js/n3ds/lodash.min.js"></script>
		<script src="/js/n3ds/backbone.min.js"></script>
		<script src="/js/n3ds/olv.js"></script>
		<script src="/js/n3ds/olv.locale-en.js"></script>
		#}
	</head>
	<body data-user-id="{{ user.usernameClean }}" data-is-first-post="{{ firstPost }}" data-is-first-favorite="{{ firstFavorite }}" data-profile-url="/users/{{ user.usernameClean }}">
		<div id="body" data-region-id="{{ console.region_id }}">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>