{% set class = 'community-top platform-' ~ console.id %}
{% extends '@ctr/_master.twig' %}

{% block content %}
			<div class="title-header text-header">
				<div class="header-banner-container">
					<div class="header-banner">
						<p>Check out the communities for games that you play or games that you're curious about!</p>
					</div>
				</div>
				<h1 class="info-content">
					<span class="icon-container"></span>
					<span class="title-container">
						<span class="title">Communities</span>
					</span>
				</h1>
			</div>
			<div class="community-top-top-container">
				<span class="top-left-button title-search-button">
					<span class="symbol">Search</span>
					<input data-action="/titles/search" name="query" class="title-search-title-id" minlength="2" maxlength="20" type="text" monospace="on" guide="Search Communities" cave_oninput="$(document.activeElement).trigger('input')" value="">
				</span>
				<a href="/communities/favorites" class="favorites-button top-right-button" data-pjax="1">
					<span class="symbol">Favorite Communities</span>
				</a>
			</div>
			<div class="body-content" id="community-top" data-region="USA">
				<div class="news-label-content">
				</div>
				<div class="community-list">
					<div class="headline with-filter headline-{{ console.id }}">
						<h2>New Communities</h2>
						<div class="with-filter-right">
							<div class="select-button">
								<label id="community-filter" class="">
									<span class="select-button-content">Filter</span>
									<select name="filter">
										<option value="" selected="">Please make a selection.</option>
										<option value="{{ route('console.all', [ console.id ]) }}">All Software</option>
										<option value="{{ route('console.games', [ console.id ]) }}">{{ console.name }} Games</option>
										<option value="{{ route('console.vc', [ console.id ]) }}">Virtual Console</option>
										<option value="{{ route('console.other', [ console.id ]) }}">Others</option>
									</select>
								</label>
							</div>
						</div>
					</div>
					{% if communities.newest is not empty %}
						<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
							{% for community in communities.newest.titles %}
								{% set id,title_id = hashid(community.id), hashid(community.title_id) %}
								<li id="community-{{ id }}" class="">
									<span class="icon-container">
										<img src="/img/icons/{{ community.icon }}" class="icon" width="48" height="48">
									</span>
									<a href="{{ route('title.community', [ title_id, id ]) }}" class="arrow-button scroll" data-pjax="1"></a>
									<div class="body">
										<span class="community-name title">{{ community.name }}</span>
									{% if community.platform == 1 %}
										<span class="platform-tag platform-tag-3ds"></span>
										<span class="text">3DS Games</span>
									{% elseif community.platform == 2 %}
										<span class="platform-tag platform-tag-wiiu"></span>
										<span class="text">Wii U Games</span>
									{% elseif community.platform == 3 %}
										<span class="platform-tag platform-tag-wiiu-3ds"></span>
										<span class="text">Wii U Games・3DS Games</span>
									{% elseif community.platform == 4 %}
										<span class="platform-tag platform-tag-switch"></span>
										<span class="text">Switch Games</span>
									{% elseif community.platform == 5 %}
										<span class="platform-tag platform-tag-switch-wiiu"></span>
										<span class="text">Switch Games・Wii U Games</span>
									{% elseif community.platform == 6 %}
										<span class="platform-tag platform-tag-wii"></span>
										<span class="text">Wii Games</span>
									{% elseif community.platform == 7 %}
										<span class="platform-tag platform-tag-ds"></span>
										<span class="text">DS Games</span>
									{% elseif community.platform == 8 %}
										<span class="platform-tag platform-tag-wii-ds"></span>
										<span class="text">Wii Games・DS Games</span>
									{% endif %}
									</div>
								</li>
							{% endfor %}
							</ul>
					{% else %}
						<div class="no-content-window">
							<div class="window">
								<p>There are no communities in this category.</p>
							</div>
						</div>
					{% endif %}
					{% if communities.newest.more %}
						<a href="{{ route('console.all', [ console.id ]) }}" class="more-button scroll" data-pjax="1">Show More</a>
					{% endif %}
					<h2 class="headline headline-special">Special</h2>
					{% if communities.special is not empty %}
						<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
							{% for community in communities.special.titles %}
								{% set id,title_id = hashid(community.id), hashid(community.title_id) %}
								<li id="community-{{ id }}" class="">
									<span class="icon-container">
										<img src="{{ community.icon }}" class="icon" width="48" height="48">
									</span>
									<a href="{{ route('title.community', [ title_id, id ]) }}" class="arrow-button scroll" data-pjax="1"></a>
									<div class="body">
										<span class="community-name title">{{ community.name }}</span>
									{% if community.platform == 1 %}
										<span class="platform-tag platform-tag-3ds"></span>
									{% elseif community.platform == 2 %}
										<span class="platform-tag platform-tag-wiiu"></span>
									{% elseif community.platform == 3 %}
										<span class="platform-tag platform-tag-wiiu-3ds"></span>
									{% elseif community.platform == 4 %}
										<span class="platform-tag platform-tag-switch"></span>
									{% elseif community.platform == 5 %}
										<span class="platform-tag platform-tag-switch-wiiu"></span>
									{% elseif community.platform == 6 %}
										<span class="platform-tag platform-tag-wii"></span>
									{% elseif community.platform == 7 %}
										<span class="platform-tag platform-tag-ds"></span>
									{% elseif community.platform == 8 %}
										<span class="platform-tag platform-tag-wii-ds"></span>
									{% endif %}
										<span class="text">Special Community</span>
									</div>
								</li>
							{% endfor %}
							</ul>
					{% else %}
						<div class="no-content-window">
							<div class="window">
								<p>There are no communities in this category.</p>
							</div>
						</div>
					{% endif %}
					{% if communities.special.more %}
						<a href="{{ route('console.all', [ 'special' ]) }}" class="more-button scroll" data-pjax="1">Show More</a>
					{% endif %}
				</div>
			</div>
			<div class="community-list-footer">
				<div class="select-button">
					<span class="select-button-content">{{ console.name }} Communities</span>
					{% include '_footer.twig' %}
				</div>
			</div>
{% endblock %}
