{% set class = 'community-top' %}
{% extends '@n3ds/_master.twig' %}

{% block content %}
			<div class="title-header text-header">
				<div class="header-banner-container">
					<div class="header-banner">
						<p>Check out the communities for games that you play or games that you're curious about!</p>
					</div>
				</div>
				<h1 class="info-content">
					<span class="icon-container"></span>
					<span class="title-container">
						<span class="title">Communities</span>
					</span>
				</h1>
			</div>
			<div class="community-top-top-container">
				<span class="top-left-button title-search-button">
					<span class="symbol">Search</span>
					<input data-action="/titles/search" name="query" class="title-search-title-id" minlength="2" maxlength="20" type="text" monospace="on" guide="Search Communities" cave_oninput="$(document.activeElement).trigger('input')" value="">
				</span>
				<a href="/communities/favorites" class="favorites-button top-right-button" data-pjax="1">
					<span class="symbol">Favorite Communities</span>
				</a>
			</div>
			<div class="body-content" id="community-top" data-region="USA">
				<div class="community-list">
					<div class="headline">
						<h2>General Communities</h2>
					</div>
					{% if communities.general is not empty %}
						<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
							{% for community in communities.general %}
								{% set id,title_id = hashid(community.id), hashid(community.title_id) %}
								<li id="community-{{ id }}" class="">
									<span class="icon-container">
										<img src="/img/icons/{{ community.icon }}" class="icon" width="48" height="48">
									</span>
									<a href="{{ route('title.community', [ title_id, id ]) }}" class="arrow-button scroll" data-pjax="1"></a>
									<div class="body">
										<span class="community-name title">{{ community.name }}</span>
									{% if community.platform == 1 %}
										<span class="platform-tag platform-tag-3ds"></span>
									{% elseif community.platform == 2 %}
										<span class="platform-tag platform-tag-wiiu"></span>
									{% elseif community.platform == 3 %}
										<span class="platform-tag platform-tag-wiiu-3ds"></span>
									{% endif %}
										<span class="text">General Community</span>
									</div>
								</li>
							{% endfor %}
						</ul>
						<br>
						<a href="/communities/categories/general" class="more-button scroll" data-pjax="1">Show More</a>
					{% else %}
						<div class="no-content-window">
							<div class="window">
								<p>There are no communities in this category.</p>
							</div>
						</div>
					{% endif %}
					<div class="headline">
						<h2>Game Communities</h2>
					</div>
					{% if communities.game is not empty %}
						<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
							{% for community in communities.game %}
								{% set id,title_id = hashid(community.id), hashid(community.title_id) %}
								<li id="community-{{ id }}" class="">
									<span class="icon-container">
										<img src="/img/icons/{{ community.icon }}" class="icon" width="48" height="48">
									</span>
									<a href="{{ route('title.community', [ title_id, id ]) }}" class="arrow-button scroll" data-pjax="1"></a>
									<div class="body">
										<span class="community-name title">{{ community.name }}</span>
									{% if community.platform == 1 %}
										<span class="platform-tag platform-tag-3ds"></span>
										<span class="text">3DS Games</span>
									{% elseif community.platform == 2 %}
										<span class="platform-tag platform-tag-wiiu"></span>
										<span class="text">Wii U Games</span>
									{% elseif community.platform == 3 %}
										<span class="platform-tag platform-tag-wiiu-3ds"></span>
										<span class="text">Wii U Games・3DS Games</span>
									{% endif %}
									</div>
								</li>
							{% endfor %}
						</ul>
						<br>
						<a href="/communities/categories/game" class="more-button scroll" data-pjax="1">Show More</a>
					{% else %}
						<div class="no-content-window">
							<div class="window">
								<p>There are no communities in this category.</p>
							</div>
						</div>
					{% endif %}
					<div class="headline">
						<h2>Special Communities</h2>
					</div>
					{% if communities.special is not empty %}
						<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
							{% for community in communities.special %}
								{% set id,title_id = hashid(community.id), hashid(community.title_id) %}
								<li id="community-{{ id }}" class="">
									<span class="icon-container">
										<img src="/img/icons/{{ community.icon }}" class="icon" width="48" height="48">
									</span>
									<a href="{{ route('title.community', [ title_id, id ]) }}" class="arrow-button scroll" data-pjax="1"></a>
									<div class="body">
										<span class="community-name title">{{ community.name }}</span>
									{% if community.platform == 1 %}
										<span class="platform-tag platform-tag-3ds"></span>
									{% elseif community.platform == 2 %}
										<span class="platform-tag platform-tag-wiiu"></span>
									{% elseif community.platform == 3 %}
										<span class="platform-tag platform-tag-wiiu-3ds"></span>
									{% endif %}
										<span class="text">Special Community</span>
									</div>
								</li>
							{% endfor %}
						</ul>
						<br>
						<a href="/communities/categories/special" class="more-button scroll" data-pjax="1">Show More</a>
					{% else %}
						<div class="no-content-window">
							<div class="window">
								<p>There are no communities in this category.</p>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
			<div class="community-list-footer">
				{% include '_footer.twig' %}
			</div>
{% endblock %}
