{% set class = 'community-post-list' %}
{% extends '_master.twig' %}

{% block content %}
{% set id,title_id = hashid(meta.id), hashid(meta.title_id) %}
			<div class="title-header with-header-banner">
				<div class="header-banner-container post-subtype-default-container">
					<img src="/img/banners/{{ meta.banner }}" height="168" width="400">
				</div>
				<h1 class="info-content">
					<span class="icon-container"><img src="/img/icons/{{ meta.icon }}" class="icon" width="48" height="48"></span>
					<span class="title-container">
						<span class="news-community-badge">Main Community</span>
						<span class="title">{{ meta.name }}</span>
					</span>
				</h1>
				{% if meta.platform == 1 %}
					<span class="platform-tag platform-tag-3ds"></span>
				{% elseif meta.platform == 2 %}
					<span class="platform-tag platform-tag-wiiu"></span>
				{% elseif meta.platform == 3 %}
					<span class="platform-tag platform-tag-wiiu-3ds"></span>
				{% endif %}
			</div>
			<div id="header-meta" class="header-meta-with-description">
				<a href="#" class="favorite-button symbol button top-right-button" data-action-favorite="/titles/14938538520099162231/14938538520099162232/favorite.json" data-action-unfavorite="/titles/14938538520099162231/14938538520099162232/unfavorite.json"></a>
				<a href="/settings/titles/14938538520099162231" class="button symbol setting-button" data-sound="SE_OLV_OK_SUB" data-pjax="1"></a>
			</div>
			<div class="community-info">
				<p class="text">{{ meta.description }}</p>
			</div>
			<div class="body-content multi-timeline-body-content">
				<div class="tab-body">
					<div class="post-buttons-content with-memo-button">
						<a href="{{ route('title.post', [ title_id, id ]) }}" class="post-button js-post-button" data-pjax="1"><span class="symbol">Post</span></a>
						<a href="{{ route('title.postmemo', [ title_id, id ]) }}" class="memo-button" data-pjax="1"><span class="symbol">Saved Posts</span></a>
					</div>
					<div class="post-list list" data-olv-community-id="{{ id }}">
						{% for post in posts %}
							<div id="post-{{ post.id }}" {% if post.spoiler %}data-href-hidden="{{ route('post.show', [ id ]) }}"{% endif %} class="post scroll post-subtype-default {% if post.spoiler %}hidden{% endif %}" data-href="{{ route('post.show', [ post.id ]) }}">
								<div class="body">
									<a href="/users/rip_akndedfd6" data-pjax="1" class="user-icon-container scroll-focus">
										<img src="/img/icons/{{ meta.icon }}" class="user-icon" width="32" height="32">
									</a>
									<div class="post-container">
										<div class="user-container">
											<p class="user-name"><a href="/users/rip_akndedfd6" data-pjax="1">{{ post.user.username }}</a></p>
											<p class="timestamp-container">
												<span class="timestamp">{{ post.created }}</span>
												{% if post.spoiler %}
													·
													<span class="spoiler">Spoilers</span>
												{% endif %}
											</p>
										</div>
										<div class="post-content">
											{% if post.content != '' %}
												<p class="post-content-text"><a href="{{ route('post.show', [ post.id ]) }}" class="to-permalink-button" data-pjax="1" tabindex="0">{{ post.content }}</a></p>
											{% endif %}
											{% if post.image %}
												<p class="post-content-memo"><a href="{{ route('post.show', [ post.id ]) }}" class="to-permalink-button" data-pjax="1" tabindex="0"><img src="/img/drawings/{{ post.image }}" width="192" height="72"></a></p>
											{% endif %}
											{% if post.spoiler %}
												<div class="hidden-content"><p>This post contains spoilers.</p>
													<button type="button" class="hidden-content-button">View Post</button>
												</div>
											{% endif %}
											<div class="post-meta">
												<button type="button" disabled="" class="symbol submit empathy-button disabled" data-feeling="normal" data-action="/posts/AYECAAAEAAAsUZ8kdKEfjg/empathies">
													<span class="empathy-button-text">Yeah!</span>
												</button>
												<span class="empathy symbol">
													<span class="symbol-label">Yeahs</span>
													<span class="empathy-count">0</span>
												</span>
												<span class="reply symbol">
													<span class="symbol-label">Comment</span>
													<span class="reply-count">0</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
{% endblock %}