<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% if title is defined %}
	<title>{{ config('general.name') }} - {{ title }}</title>
	{% else %}
	<title>{{ config('general.name') }}</title>
	{% endif %}
	<meta http-equiv="content-style-type" content="text/css">
	<meta http-equiv="content-script-type" content="text/javascript">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta property="og:type" content="article"/>
	<meta property="og:site_name" content="{{ config('general.name') }}"/>
	<link rel="alternate" hreflang="x-default" href="/">
	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/js/jquery-1.9.1.min.js"></script>
	<script src="/js/olv.js"></script>
</head>
{% if id is defined %}
<body id="{{ id }}">
{% else %}
<body>
{% endif %}
	<div id="wrapper" class="community-top guest">
		<div id="sub-body">
			<menu id="global-menu">
				<li id="global-menu-logo">
					<h1>
						<a href="/">
							<img src="/img/menu-logo.png" alt="{{ config('general.name') }}" width="165" height="30">
						</a>
					</h1>
				</li>
				<li id="global-menu-login">
					<a href="/account/signin" class="login">
						<input type="image" src="/img/signin_base.png">
					</a>
				</li>
			</menu>
		</div>
		<div id="main-body">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>