{% set firstPost,firstFavorite = 1,1 %}
{% extends '_master.twig' %}

{% block content %}
			<div id="welcome-3ds_start" class="start-page slide-page" data-slide-number="1" style="">
				<div class="window-page">
					<div class="window welcome-window">
						<div class="window-title">
							<h1 class="window-title-inner">Welcome to {{ config('general.name') }}!</h1>
						</div>
						<div class="window-body">
							<div class="window-body-inner message">
								<p>{{ config('general.name') }} lets you share your in-game experiences with people from all over the world.</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="fixed-bottom-button left exit-button welcome-exit-button" data-sound="SE_CTR_COMMON_SYSAPPLET_END">Close</a>
				<a href="#" class="fixed-bottom-button right next-button slide-button" data-slide="#welcome-feature">Next</a>
			</div>
			<div id="welcome-feature" class="slide-page" data-slide-number="11" style="display: none;">
				<div class="window-page">
					<div class="window welcome-window">
						<div class="window-title">
							<h1 class="window-title-inner">Miiverse Features on Systems in the Nintendo 3DS Family</h1>
						</div>
						<div class="window-body">
							<div class="window-body-inner message">
								<p class="p1">If you are unable to connect to the Internet, you can launch Miiverse in offline mode to write posts and save them for later. </p>
								<p>Miiverse for systems in the Nintendo 3DS family does not currently support friend features.</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="fixed-bottom-button left back-button slide-button accesskey-B" data-slide="#welcome-3ds_start" data-sound="SE_OLV_CANCEL">Back</a>
				<a href="#" class="fixed-bottom-button right next-button slide-button" data-slide="#welcome-luminous_user_data">Next</a>
			</div>
			<div id="welcome-luminous_user_data" class="slide-page" data-slide-number="10" style="display: none;">
				<div class="window-page">
					<div class="window welcome-window with-button">
						<div class="window-title">
							<h1 class="window-title-inner">Configuring your {{ config('general.name') }} Account</h1>
						</div>
						<div class="window-body-user_data">
							<div class="window-body-inner message">
								<p>We need some data from you before you can start using {{ config('general.name') }}:</p>
							</div>
						</div>
						<div class="window-bottom-input">
							<input type="text" id="display_name" name="display_name" placeholder="Display Name">
							<input type="text" id="nnid" name="nnid" placeholder="Nintendo Network ID">
						</div>
					</div>
				</div>
				<a href="#" class="fixed-bottom-button left back-button slide-button accesskey-B" data-slide="#welcome-feature" data-sound="SE_OLV_CANCEL">Back</a>
				<a href="#" class="fixed-bottom-button right next-button welcome-luminous_user_data-button" data-slide="#welcome-finish">Next</a>
			</div>
			<div id="welcome-finish" class="slide-page" data-bgm="BGM_CAVE_SYOKAI2" data-slide-number="9" style="display: none;">
				<div class="window-page">
					<div class="window welcome-window">
						<div class="window-title">
							<h1 class="window-title-inner">Have fun in {{ config('general.name') }}!</h1>
						</div>
						<div class="window-body">
							<div class="window-body-inner message">
								<a href="{{ route('title.init') }}" class="fixed-bottom-button right next-button welcome-finish-button" data-activate-url="/welcome/activate?update_with_default=0" data-replace="1">Start</a>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}