{% set firstPost,firstFavorite = 1,1 %}
{% extends '_master.twig' %}

{% block content %}
<div class="title-header text-header">
  <div class="header-banner-container">
    <div class="header-banner">
      <p>Check out the communities for games that you play or games that you're curious about!</p>
    </div>
  </div>
  <h1 class="info-content">
    <span class="title-container">
      <span class="title">{{ config('general.name') }} Communities</span>
    </span>
  </h1>
</div>
<div class="community-top-top-container">
  <span class="top-left-button title-search-button"><span class="symbol">Search</span><input data-action="/titles/search" name="query" class="title-search-title-id" minlength="2" maxlength="20" type="text" monospace="on" guide="Search Communities" cave_oninput="$(document.activeElement).trigger('input')" value=""></span>
  <a href="/communities/favorites" class="favorites-button top-right-button" data-pjax="1"><span class="symbol">Favorite Communities</span></a>

</div>

<div class="body-content" id="community-top" data-region="USA">

  <div class="close-announce-content test-close-announce">
    <a href="">End of Miiverse Service Announcement</a>
  </div>

  <div class="news-label-content">

  </div>

  <div id="identified-user-banner" class="news-label us">
    <a href="/identified_user_posts?view_region_id=2" data-pjax="#body">
      <span class="title">Get the latest news here!</span>
      <span class="text">Posts from Verified Users</span>
    </a>
  </div>
  <div class="community-list">
    <div class="headline with-filter headline-3ds">
      <h2>New Communities</h2>

<div class="with-filter-right">
  <div class="select-button">
    <label id="community-filter" class="">
      <span class="select-button-content">Filter</span>
      <select name="filter">
        <option value="" selected="">Please make a selection.</option>
        <option value="/communities/categories/3ds_all">All Software</option>
        <option value="/communities/categories/3ds_game">3DS Games</option>
        <option value="/communities/categories/3ds_virtualconsole">Virtual Console</option>
        <option value="/communities/categories/3ds_other">Others</option>
      </select>
    </label>
  </div>
</div>
    </div>
    <ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
{% for community in communities %}
{% set id,title_id = encode(community.id), encode(community.title_id) %}
<li id="community-{{ id }}" class="">
  <span class="icon-container"><img src="/img/icons/{{ community.icon}}" class="icon" width="48" height="48"></span>
  <a href="/titles/{{ title_id }}/{{ id }}" class="arrow-button scroll" data-pjax="1"></a>
  <div class="body">
    <span class="community-name title">{{ community.name }}</span>
        <span class="platform-tag platform-tag-3ds"></span>
      <span class="text">3DS Games</span>
  </div>
</li>
{% endfor %}

    </ul>
    <a href="/communities/categories/3ds_all" class="more-button scroll" data-pjax="1">Show More</a>
    <h2 class="headline headline-special">Special</h2>
    <ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
    </ul>
  </div>

</div>

<div class="community-list-footer">
  <div class="select-button"><span class="select-button-content">Americas</span>
    <label id="view-region-selector" class="selected">
    <select name="type">
      <option value="/communities?view_region_id=4">Europe and Oceania</option>
      <option value="/communities?view_region_id=1">Japan</option>
      <option value="/communities?view_region_id=2" selected="">Americas</option>
    </select>
    </label>
  </div>
  {#<a href="/communities?view_platform=3ds" class="platform-button" data-pjax="1">3DS Communities</a>#}
</div>
{% endblock %}
